@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/corporate';

@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme((

  color-basic-font: #333333,
  color-primary-100: #FFF0D1,
  color-primary-200: #FFDCA3,
  color-primary-300: #FFC476,
  color-primary-400: #FFAC53,
  color-primary-500: #FF851B,
  color-primary-600: #DB6513,
  color-primary-700: #B74A0D,
  color-primary-800: #933308,
  color-primary-900: #7A2205,
  color-success-100: #ECFEE1,
  color-success-200: #D5FDC4,
  color-success-300: #B8FAA6,
  color-success-400: #9CF58E,
  color-success-500: #70EF69,
  color-success-600: #4CCD50,
  color-success-700: #34AC42,
  color-success-800: #218A36,
  color-success-900: #14722E,
  color-info-100: #D4FAFE,
  color-info-200: #AAF0FD,
  color-info-300: #7FDFFB,
  color-info-400: #5FCCF8,
  color-info-500: #2CAEF4,
  color-info-600: #2088D1,
  color-info-700: #1666AF,
  color-info-800: #0E488D,
  color-info-900: #083375,
  color-warning-100: #FEFDCE,
  color-warning-200: #FEFC9D,
  color-warning-300: #FDF96C,
  color-warning-400: #FBF547,
  color-warning-500: #F9F10C,
  color-warning-600: #D6CE08,
  color-warning-700: #B3AC06,
  color-warning-800: #908A03,
  color-warning-900: #777102,
  color-danger-100: #FFEED7,
  color-danger-200: #FFD9AF,
  color-danger-300: #FFBE87,
  color-danger-400: #FFA469,
  color-danger-500: #FF7A38,
  color-danger-600: #DB5828,
  color-danger-700: #B73B1C,
  color-danger-800: #932311,
  color-danger-900: #7A130A,
  background-basic-color-1: color-primary-700,
  background-basic-color-2: color-primary-800,
  background-basic-color-3: color-primary-100,
  background-basic-color-4: color-primary-100,
  border-basic-color-1: color-primary-700,
  border-basic-color-2: color-primary-800,
  border-basic-color-3: color-primary-900,
  border-basic-color-4: color-primary-1000,
  border-basic-color-5: color-primary-1100,
  shadow: 0 0.5rem 1rem 0 rgba(25, 30, 51, 0.24),
  text-disabled-color: color-basic-600,
  text-hint-color: color-basic-font,
  text-basic-color: color-basic-font,
), randomize-theme, corporate);
